{% extends "job_portal/base.html" %}

{% block og_title %}SevenDyne: Embedded C++ Development Expertise{% endblock %}
{% block og_description %}SevenDyne offers expert C++ development services with a decade of experience in delivering high-performance applications tailored to meet your specific needs. Based in Cochin, India, we specialize in creating robust, scalable C++ solutions that drive innovation and support advanced research.{% endblock %}
{% block og_url %}https://Sevendyne.com/{% endblock %}
{% block title %}SevenDyne: C++ Development Expertise{% endblock %}

{% load static %}

{% block content %}

<!-- Header Start -->
<div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">C++ Embedded Projects</h1>
    </div>
</div>
<!-- Header End -->

<section id="cpp-development" class="cpp-development bg-light" style="margin-bottom:3%; margin-top:3%;">
    <div class="container">
        <div class="section-title text-center mb-5">
            <h1>C++ Embedded Projects</h1>
            <p class="separator">At SevenDyne, we specialize in developing cutting-edge C++ applications that drive innovation and support advanced research. With extensive experience in the field, we focus on creating high-performance applications that push the boundaries of what’s possible.</p>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 another-section bg-secondary text-white p-4">
                <div class="row">
                    <div class="col-md-6 col-lg-4 mt-3 mb-3">
                        <div class="project-block bottom shadow rounded">
                            <img src="{% static 'job_portal/img/portfolio/portfolio7.jpg' %}" class="img-responsive project-img" alt="Qt-Wt C++ based TradingSystemAPI project">
                            <div class="project-content p-3">
                                <h4 class="mb-2">Qt-Wt C++ based TradingSystemAPI project</h4>
                                <p>Developed a comprehensive and user-friendly UI for TradingSystemAPI using C++ Qt, focusing on optimizing trading workflows and enhancing the overall user experience. Collaborated closely with traders to gain a deep understanding of their needs, translating those insights into precise development objectives. This led to the implementation of advanced trading features, such as real-time data visualization, customizable trading strategies, and rapid execution modules.</p>
                                <p>Skills Used: C++, Qt QML, Webtoolkit</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mt-3 mb-3">
                        <div class="project-block bottom shadow rounded">
                            <img src="{% static 'job_portal/img/portfolio/portfolio4.jpg' %}" class="img-responsive project-img" alt="Qt QML based Montal 2D Game project">
                            <div class="project-content p-3">
                                <h4 class="mb-2">Qt QML based Montal 2D Game project</h4>
                                <p>Developed a visually appealing 2D game using Qt QML, showcasing strong expertise in game development and UI design. The game features intricate mechanics such as smooth character movement, precise collision detection, and dynamic enemy AI, all implemented using C++ for performance-critical components.</p>
                                <p>Skills Used: C++, Qt QML, Android Emulator</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mt-3 mb-3">
                        <div class="project-block bottom shadow rounded">
                            <img src="{% static 'job_portal/img/portfolio/portfolio9.jpg' %}" class="img-responsive project-img" alt="C++ OPAL PTLIB based Voip project">
                            <div class="project-content p-3">
                                <h4 class="mb-2">C++ OPAL PTLIB based Voip project</h4>
                                <p>Led the development efforts for the OPAL SIP Call Manager project, which focuses on managing SIP calls between endpoints and a server program. I collaborated with clients to understand their needs and effectively communicated the project’s value. Our team utilized the OPAL library and PTLIB C++ library to create a robust server application that manages participant features like add, remove, audio, video, and more.</p>
                                <p>Skills Used: C++, OPAL library</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Request Project Support Section -->
<div id="index" class="container-fluid bg-primary mb-1 wow fadeIn" data-wow-delay="0.1s" style="padding: 15px;">
    <div class="container">
        <div class="row g-2">
            <h3 style="text-align:center; color:white;">Request Project Support</h3>
        </div>
    </div>
</div>


<div class="container text-center">
    <div id="project-form" style="margin-top: 20px;">
        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-8 col-md-10">
                <div class="form" style="background-color: #f8f9fa; border-radius: 10px; padding: 30px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    <form id="submit-form" action="#" class="php-email-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name" class="form-label">Your Name</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Full Name" required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="email" class="form-label">Your Email</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email Address" required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="project_name" class="form-label">Project Name</label>
                            <input type="text" class="form-control" name="project_name" id="project_name" placeholder="Project Name" required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="project_description" class="form-label">Project Description</label>
                            <textarea class="form-control" name="project_description" rows="4" id="project_description" placeholder="Brief description of your project" required></textarea>
                        </div>

                        <div class="form-group mt-3">
                            <label for="preferred_location" class="form-label">Preferred Location</label>
                            <input type="text" class="form-control" name="preferred_location" id="preferred_location" placeholder="City, Country">
                        </div>

                        <div class="form-group mt-3">
                            <label for="budget" class="form-label">Project Budget (Optional)</label>
                            <input type="text" class="form-control" name="budget" id="budget" placeholder="Estimated Project Budget">
                        </div>

                        <div class="my-3 text-center">
                            <button type="submit" class="btn btn-primary">Submit Project Details</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/app.js' %}"></script>
<script>
    function togglePasswordVisibility() {
        var passwordField = document.getElementById("password");
        var passwordIcon = document.getElementById("password-icon");
        if (passwordField.type === "password") {
            passwordField.type = "text";
            passwordIcon.classList.remove("fa-eye-slash");
            passwordIcon.classList.add("fa-eye");
        } else {
            passwordField.type = "password";
            passwordIcon.classList.remove("fa-eye");
            passwordIcon.classList.add("fa-eye-slash");
        }
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{%static 'assets/js/jquery-3.7.1.min.js'%}"></script>

<script>
    $("#submit-form").submit((e) => {
        e.preventDefault();
		const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        $.ajax({
            url: "https://script.google.com/macros/s/AKfycbyxzRzjygEh1l0AHrTD6uEXKGilEkmYjCeC0YGk1wABLOureKv6sv1aah09itDpLgL6GQ/exec",
            data: $("#submit-form").serialize() + '&csrfmiddlewaretoken=' + csrfToken,
            method: 'POST',
            success: function (response) {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: 'Your project details have been successfully submitted!'
                });
                $("#submit-form")[0].reset();
            },
            error: function (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong! Please try again.'
                });
            }
        });
    });
</script>
{% endblock %}
