{% extends "job_portal/base.html" %}

{% block og_title %}Sevendyne: Fullstack webapps, Android mobile and C++ Desktop projects {% endblock %}
{% block og_description %}At Sevendyne, we specialize in providing innovative IT Solutions to enhance your team's capabilities and drive business growth. Explore how our tailored services can connect you with top talent and streamline your operations.{% endblock %}
{% block og_url %}https://Sevendyne.com/{% endblock %}
{% block title %}Sevendyne: Innovative IT Solutions for Enterprise Growth{% endblock %}


{% load static %}

{% block content %}


<!-- Page Content -->
<style>
    /* Hide video controls */
    video::-webkit-media-controls {
        display: none !important;
    }
</style>
<!-- Carousel Start -->
<div class="container-fluid p-0" style="height:70vh;">
    <div class="owl-carousel header-carousel position-relative">
        <!-- App Development Support Carousel Item -->
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="{% static 'job_portal/img/cover4.jpg' %}" alt="" style="height:70vh;">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h2 class="mb-4 text-white">Comprehensive App Development Support</h2>
                            <p class="mb-4 text-white">Empower your organization with our expert app development services. We specialize in custom software development, mobile applications, and websites, using cutting-edge technology to deliver innovative solutions tailored to your needs.</p>
                            <a class="btn btn-primary py-3 px-5 mt-3 animated slideInRight" href="{% url 'main:about' %}">Explore About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Additional Solutions Can Be Added Similarly -->
    </div>
</div>
<!-- Carousel End -->

<!-- Portfolio Projects Section Start -->
<div id="projects" class="container-fluid">
	<div class="container" style="border: 2px solid #fff; padding: 10px; border-radius: 5px; background-color: #333;">
		<div class="row g-2">
			<h3 style="text-align:center; color:white;">Featured Client Tech Projects</h3>
		</div>
	</div>

    <div class="container" style="padding-top: 1%; padding-bottom: 5%">
        <div class="row g-5 align-items-center">
            <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                
                <div class="row g-4">
                    <!-- Project 1 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="project-item bg-light rounded p-3">
                            <h4>AI-Powered Job Search Automation</h4>
                            <p>Automating job searches on Zoho Recruit.</p>
                            <p><strong>Skills:</strong> Python, OpenAI, Zoho API</p>
                        </div>
                    </div>
                    
                    <!-- Project 2 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="project-item bg-light rounded p-3">
                            <h4>AI-Driven Ecommerce Site Creation</h4>
                            <p>Automates site creation using SPREE platform.</p>
                            <p><strong>Skills:</strong> Ruby on Rails, OpenAI, Web Scraping</p>
                        </div>
                    </div>
                    
                    <!-- Project 3 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="project-item bg-light rounded p-3">
                            <h4>Customer Arrival Analysis Dashboard</h4>
                            <p>Visualizing restaurant customer patterns.</p>
                            <p><strong>Skills:</strong> Angular, SpringBoot, Echarts</p>
                        </div>
                    </div>
                    
                    <!-- Project 4 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="project-item bg-light rounded p-3">
                            <h4>Unionpay Mobile Payment App</h4>
                            <p>Android app for seamless payment processing.</p>
                            <p><strong>Skills:</strong> Android, Java, Mobile Payments</p>
                        </div>
                    </div>
                    
                    <!-- Project 5 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="project-item bg-light rounded p-3">
                            <h4>RedDotPayment CRM</h4>
                            <p>Custom CRM for managing payment transactions.</p>
                            <p><strong>Skills:</strong> CodeIgniter, PHP, Payment Processing</p>
                        </div>
                    </div>
                    
                    <!-- Project 6 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="project-item bg-light rounded p-3">
                            <h4>Laravel & Vue.js CRUD Forms</h4>
                            <p>Dynamic CRUD forms with interactive UI.</p>
                            <p><strong>Skills:</strong> Laravel, Vue.js, REST APIs</p>
                        </div>
                    </div>
                    
                    <!-- Project 7 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="project-item bg-light rounded p-3">
                            <h4>Code Review Tool for Linux</h4>
                            <p>Simplified code review with C++ and Qt.</p>
                            <p><strong>Skills:</strong> C++, Qt, Linux Development</p>
                        </div>
                    </div>
                </div>
                
                <div class="text-center mt-4">
                    <a class="btn btn-primary py-3 px-5" href="{% url 'main:portfolios_home' %}">Explore More Projects</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Projects Section End -->

<!-- HRMS Section -->
<div class="container-fluid">
    <div class="padd-section" style="background-color: #cfe2f3; padding-top: 5%; padding-bottom: 5%">
        <h2 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Transform Your HR Management with Our AWS-Powered HRMS Software</h2>
        <div class="hrms-intro text-center wow fadeInUp" data-wow-delay="0.3s">
            <h5 style="font-weight:bolder">Deploy Our Cutting-Edge HRMS Solution</h5>
            <p>Elevate your human resource management with our AWS-powered HRMS software built using Django Python. Designed for scalability and efficiency, our solution provides seamless integration, advanced analytics, and a user-friendly interface. Deploy it in your organization to streamline processes, enhance productivity, and make data-driven decisions.</p>
            <p>Whether you're a small business or a large enterprise, our HRMS software is tailored to meet your unique needs. Experience the future of HR management today!</p>
            <a href="https://sevendyne.com/hrms/home/" class="btn btn-primary mt-3" target="_blank">Explore Our HRMS Software</a>
        </div>
    </div>
</div>

<!-- Training Section -->
<div class="container-fluid">
    <div class="padd-section" style="background-color: #d9e1e5b8; padding-top: 5%; padding-bottom: 1%">
        <h2 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Upskill Your Workforce with Expert Resource Training</h2>
        <div class="training-content text-center wow fadeInUp" data-wow-delay="0.3s">
            <h5 style="font-weight:bolder">Enroll in Our Fullstack Training Program and Propel Your Career Forward!</h5>
            <p>Our Fullstack training division is dedicated to providing high-quality programs for professionals eager to master both frontend and backend development skills. 
            With a focus on practical knowledge, we offer comprehensive training in technologies like Node.js, Bootstrap, Django, Python, HTML, CSS, and more, helping you stay ahead in the fast-paced tech industry.
            </p>                    
            <a href="{% url 'candidate:create_intern' %}" class="btn btn-primary mt-3">Apply for Training Programme</a>
        </div>
    </div>
</div>

<div id="index" class="container-fluid bg-primary mb-1 wow fadeIn" data-wow-delay="0.1s" style="padding: 15px;">
    <div class="container">
        <div class="row g-2">
            <h3 style="text-align:center; color:white;">Contact Us</h3>
        </div>
    </div>
	</div>

	<div class="container text-center">
		<h2></h2>
		
		<!-- Quote Request Form (Initially Hidden) -->
		<div id="quote-form" style="margin-top: 20px;">
			<div class="section-title text-center">
				<p class="separator">
					Provide us with some details about your IT project or product requirements, and our team will get back to you with a free, no-obligation quote.
				</p>
			</div>

			<div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
				<div class="col-lg-6 col-md-10">
					<div class="form">
						<form id="submit-form" action="#" class="php-email-form">
						{% csrf_token %}
							<div class="form-group">
							<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
							<input type="text" name="honeypot" style="display:none;"> <!-- Spam protection -->
							</div>
							<div class="form-group mt-3">
								<input type="text" class="form-control" name="company_name" id="company_name" placeholder="Company Name" required>
							</div>
							<div class="form-group mt-3">
								<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
							</div>
							<div class="form-group mt-3">
								<select class="form-control" name="project_type" id="project_type" required>
									<option value="" disabled selected>Project Request Type</option>
									<option value="app_development">FullStack Development</option>
									<option value="hrms_software">Android Development</option>
									<option value="cloud_support">C++ Development</option>
									<option value="other">Other IT Projects</option>
								</select>
							</div>
							<div class="form-group mt-3">
								<textarea class="form-control" name="project_description" rows="5" placeholder="Brief Description of Your IT Project or Product" required></textarea>
							</div>
							
							<div class="form-group mt-3">
								<input type="text" class="form-control" name="timeline" id="timeline" placeholder="Expected Timeline (e.g., 3 months, 1 year) (optional)">
							</div>
							<div class="form-group mt-3">
								<input type="text" class="form-control" name="budget" id="budget" placeholder="Estimated Budget (optional)">
							</div>
							<div class="form-group mt-3">
								<textarea class="form-control" name="additional_requirements" rows="3" placeholder="Additional Requirements or Details (optional)"></textarea>
							</div>

							<!-- reCAPTCHA Widget -->				
							<div class="my-3">
								<div class="error-message"></div>
							</div>
							<div class="text-center">
								<button class="btn btn-primary" type="submit">Send Request</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{%static 'assets/js/jquery-3.7.1.min.js'%}"></script>

<script>
    $("#submit-form").submit((e) => {
        e.preventDefault();
		const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        $.ajax({
            url: "https://script.google.com/macros/s/AKfycbyxzRzjygEh1l0AHrTD6uEXKGilEkmYjCeC0YGk1wABLOureKv6sv1aah09itDpLgL6GQ/exec",
            data: $("#submit-form").serialize() + '&csrfmiddlewaretoken=' + csrfToken,
            method: "POST",
            success: function (response) {
                // Use SweetAlert for success message
                Swal.fire({
                    icon: 'success',
                    title: 'Success!',
                    text: 'Your Message is sent to Sevendyne Inc.',
                }).then(() => {
                    window.location.reload();
                });
            },
            error: function (err) {
                // Use SweetAlert for error message
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Something went wrong.',
                });
            }
        });
    });
</script>

{% endblock %}
