{% load static %}
<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Smarthr - Bootstrap Admin Template">
		<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <title>HRMS Admin Dashboard</title>
		
		<!-- Favicon -->
        {% comment %} <link rel="shortcut icon" type="image/x-icon" href="{%static 'assets/img/logo_svd.png'%}"> {% endcomment %}
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{%static 'assets/css/bootstrap.min.css'%}">
		
		<!-- Include datetime picker CSS -->
		<link rel="stylesheet" href="{%static 'assets/css/bootstrap-datetimepicker.min.css'%}">

		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{%static 'assets/plugins/fontawesome/css/fontawesome.min.css'%}">
    	<link rel="stylesheet" href="{%static 'assets/plugins/fontawesome/css/all.min.css'%}">

		<!-- Lineawesome CSS -->
        <link rel="stylesheet" href="{%static 'assets/css/line-awesome.min.css'%}">
		<link rel="stylesheet" href="{%static 'assets/css/material.css'%}">

		<!-- Lineawesome CSS -->
        <link rel="stylesheet" href="{%static 'assets/css/line-awesome.min.css'%}">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{%static 'assets/css/style.css'%}">
	</head>
	<body>

<!-- Page Content -->
<div class="content container-fluid">
	<div class="main-wrapper">
		<!-- Page Wrapper -->
		<div class="page-wrapper">
				
	<!-- Page Header -->
	{% comment %} <div class="page-header">
		<div class="row align-items-center">
			<div class="col">
				<h3 class="page-title">Payslip</h3>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
					<li class="breadcrumb-item active">Payslip</li>
				</ul>
			</div>
			<div class="col-auto float-end ms-auto">
				<div class="btn-group btn-group-sm">
					<button id="pdf-button" class="btn btn-white">PDF</button>
				</div>
			</div>
		</div>
	</div> {% endcomment %}
	<!-- /Page Header -->
	
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<h4 class="payslip-title">Payslip for the month of  {{ instance.date|date:"F Y" }}</h4>
					
					
					<div class="row">
						<div class="col-sm-6 m-b-20">
							{% comment %} <img src="{%static 'assets/img/logo_svd.png'%}" class="inv-logo" alt="Logo" style="width:21%"> {% endcomment %}
							<ul class="list-unstyled mb-0">
								<li>{{ instance.company.name }}</li>
								<li>{{ instance.company.address }},</li>
								<li>{{ instance.company.state }}, {{ instance.company.country }}, {{ instance.company.postal_code }}</li>
							</ul>
						</div>
						<div class="col-sm-6 m-b-20">
							<div class="invoice-details">
								<h3 class="text-uppercase">Payslip ###id</h3>
								<ul class="list-unstyled">
									<li>Salary Month: <span>{{ instance.date|date:"F Y" }}</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 m-b-20">
							<ul class="list-unstyled">
								<li><h5 class="mb-0"><strong>{{ instance.employee.get_full_name }}</strong></h5></li>
								<li><span>{{ instance.employee.designation }}</span></li>
								<li>Employee ID: {{ instance.employee.employeeid }}</li>
								<li>Joining Date: {{ instance.employee.joindate }}</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div>
								<h4 class="m-b-10"><strong>Earnings</strong></h4>
								<table class="table table-bordered">
									<tbody>
										{% for additions_field in additions_fields %}
										<tr>
											<td><strong>{{ additions_field.field_name }}</strong> <span class="float-end">{{ additions_field.field_value }}</span></td>
										</tr>
										{% endfor %}
										<tr>
											<td><strong>Total Earnings</strong> <span class="float-end"><strong>{{ total_additions }}</strong></span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-6">
							<div>
								<h4 class="m-b-10"><strong>Deductions</strong></h4>
								<table class="table table-bordered">
									<tbody>
										{% for deductions_field in deductions_fields %}
										<tr>
											<td><strong>{{ deductions_field.field_name }}</strong> <span class="float-end">{{ deductions_field.field_value }}</span></td>
										</tr>
										{% endfor %}
										<tr>
											<td><strong>Total Deductions</strong> <span class="float-end"><strong>{{ total_deductions }}</strong></span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-12">
							<p><strong>Net Salary: {{currency_symbol}} {{ instance.net_salary }}</strong> ( {{currency}} {{ net_salary_in_words }}.)</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Page Content -->
<script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>
<script>
    $(document).ready(function() {
        // JavaScript code to generate PDF when the PDF button is clicked
        $('#pdf-button').click(function() {
            var pk = '{{ pk }}';  // Get the primary key from the template context
            $.ajax({
                url: '/app/payroll/payslip/pdf/',  // URL contains only the primary key
                type: 'GET',
				data: {
					pk: pk  // Pass the primary key as a parameter
				},
                success: function(data) {
                    // Display or download the PDF based on your requirement
                    // For example, you can display it in a new tab
                    var blob = new Blob([data], { type: 'application/pdf' });
                    var url = window.URL.createObjectURL(blob);
                    window.open(url);
                }
            });
        });
    });
</script>
	
		
		<!-- jQuery -->
		<script src="{%static 'assets/js/jquery-3.7.1.min.js'%}"></script>
		<script src="{%static 'assets/js/jquery.dataTables.min.js'%}"></script>
		<script src="{%static 'assets/js/dataTables.bootstrap4.min.js'%}"></script>
 
		
		 
		 <!-- Bootstrap Core JS -->
		 <script src="{%static 'assets/js/bootstrap.bundle.min.js'%}"></script>
		 <script src="{%static 'assets/js/moment.min.js'%}"></script>
		 <script src="{%static 'assets/js/bootstrap-datetimepicker.min.js'%}"></script>
		 
		 <!-- Slimscroll JS -->
		 <script src="{%static 'assets/js/jquery.slimscroll.min.js'%}"></script>
		 
		 <!-- Select2 JS -->
		 <script src="{%static 'assets/js/select2.min.js' %}"></script>
		 
		  <!-- Theme Settings JS -->
		 <script src="{%static 'assets/js/layout.js'%}"></script>
		 <script src="{%static 'assets/js/theme-settings.js'%}"></script>
		 <script src="{%static 'assets/js/greedynav.js'%}"></script>
		 
		 <!-- Custom JS -->
		 <script src="{%static 'assets/js/app.js'%}"></script>
		 
		 
	</body>
</html>
